a:link {
      color:green;
      background-color:transparent;
      text-decoration:none;
     }

a:visited {
         color:green;
         background-color:transparent;
         text-decoration:none;
       }

a:hover {
       color:black;
       background-color:transparent;
       text-decoration:underline;
      }

a:active {
        color:green;
        background-color:transparent;
        text-decoration:underline;
       }
body {
     background-color:powderblue;
    }
h3 {
  color:blue;
  font-family:courier;
  font-size:250%;
  text-align:center;
  text-decoration:underline dotted;
  }
p {
 color:green;
 font-family:courier;
 font-size:100%;
 border:4px solid blue;
 padding:20px;
 margin:50px;
 }
